
@{
    ViewData["Title"] = "Cadastro de Funcionário";
}


<form asp-action="cadastrar">
    
    <div class="card border-secondary" >
        <h2 class="card-header">Cadastro de Funcionário</h2>
        <div class="card-body">
            <partial name="_Form"/>
            <input type="submit" class="btn btn-primary" value="Cadastrar"/>
        </div>
    </div>

</form>

